name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"
      - "!renovate/**"
      - "!dependabot/**"

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379

    steps:
      - uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: "^20"
          cache: yarn

      - run: yarn

      - run: npm run format --check
      - run: npm run lint

      - run: npm run test
        env:
          REDIS_PORT: "6379"
          REDIS_HOST: "127.0.0.1"
          REDIS_PASSWORD: ""
          REDIS_DB: "0"

      - run: npm run build
